<!-- views/index.erb -->
<!DOCTYPE html>
<html style=
    "background-color: lightgreen;"
>
  <head>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body style= "text-align: center;"
>

    <h1>Plot-Finder:</h1>

    <h2><%= @movie.title %></h2>
    <p><%= @movie.plot %></p>

    <h5>Movie Search: </h5>
    <form>
        <input type="search" name="title">
    </form>
    <br>
    <img src="http://globaltoynews.typepad.com/.a/6a0133ec87bd6d970b01b7c6d81865970b-800wi" alt="google/images" />
  </body>
</html>
